<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interview Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/ctxd.js}"></script>
</head>

<style>
    #headnev {
        background-color: rgb(11, 18, 63);
        color: white;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>
<body>
<div class="container-fluid">
    <div id="headnev" class="row navbar navbar-fixed-top">
        <div class="col-sm-5 d-flex p-2" id="startDate">
            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>
        </div>
        <!-- Header menu -->
        <div class="bs-example" th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a th:href="@{/admin/home-page}" class="nav-item nav-link active" >Home</a>
                        <a th:href="@{/category}" class="nav-item nav-link">Category</a>
                        <a th:href="@{/admin/member}" class="nav-item nav-link">Member</a>
                        <a th:href="@{/hr/interview-create}" class="nav-item nav-link">Schedule</a>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item nav-link header-name"></div>
                            <a th:href="@{/log-out}" class="nav-item nav-link">Thoát</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- End Header menu -->
    
    <hr/>

    <h3>Category Question:</h3>
    <!-- Table list account server -->
    <table id="category-1" class="table table-striped table-bordered"
           style="width: 100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Create at</th>
            <th>Group</th>
            <th>Total Question</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="list-category">
        <tr>
            <td>1</td>
            <td>Dev-Freser</td>
            <td>2021-01-01</td>
            <td>Java</td>
            <td>15</td>
            <td><a href="https://abc.jp">Go to room</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
        	<th>ID</th>
            <th>Name</th>
            <th>Create at</th>
            <th>Group</th>
            <th>Total Question</th>
            <th>Action</th>
        </tr>
        </tfoot>
    </table>
    
    
    <hr/>
    
    <h3>Inteviewer:</h3>
    <!-- Table list account server -->
    <table id="inteviewer-1" class="table table-striped table-bordered"
           style="width: 100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Total Schedule</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="list-inteviewer">
        <tr>
            <td>1</td>
            <td>Do</td>
            <td>2</td>
            <td><a href="https://abc.jp">View Detail</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Total Schedule</th>
            <th>Action</th>
        </tr>
        </tfoot>
    </table>
</div>

<script>
    $(document).ready(function () {
    });

    var homeUrl = "";
    $.ajax({
        url: homeUrl + "/api/interview/listInteviewer",
        type: "GET",
        dataType: 'json', headers: {
            'Authorization': sessionStorage.getItem("token"),
        },
        contentType: "application/json",
        success: function (response) {
            var html = "";
            $.each(response.data, function (index, value) {
				var status = value.Status?"checked":"";
                html += "        <tr>\n" +
                    "            <td>" + (index + 1) + "</td>\n" +
                    "            <td>" + value.name + "</td>\n" +
                    "            <td>" + value.totalSchedule + "</td>\n" +
                    "            <td><a href=\"/interview/home-page?id=" + value.id + "\" >Detail</a></td>\n" +
                    "        </tr>";
            });
            $("#list-inteviewer").html(html);      
            $('#inteviewer-1').DataTable();      

        }
    });
    
    $.ajax({
        url: homeUrl + "/api/category/listCategory",
        type: "GET",
        dataType: 'json', headers: {
            'Authorization': sessionStorage.getItem("token"),
        },
        contentType: "application/json",
        success: function (response) {
            var html = "";
            $.each(response.data, function (index, value) {
				var status = value.Status?"checked":"";
                html += "        <tr>\n" +
                    "            <td>" + (index + 1) + "</td>\n" +
                    "            <td>" + value.name + "</td>\n" +
                    "            <td>" + value.createAt + "</td>\n" +
                    "            <td>" + value.group + "</td>\n" +
                    "            <td>" + value.totalQuestion + "</td>\n" +
                    "            <td><a href=\"/category/edit?id=" + value.id + "\" >Detail</a></td>\n" +
                    "        </tr>";
            });
            $("#list-category").html(html);   
            $('#category-1').DataTable();         

        }
    });
</script>
</body>
</html>