<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interview Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/ctxd.js}"></script>
</head>
<style>
    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 8px;
        line-height: 1.33;
        border-radius: 25px;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
     #headnev {
         background-color: rgb(11, 18, 63);
         color: white;
         font-weight: bold;
         position: sticky;
         top: 0;
         z-index: 1;
     }
</style>
<body>
<div class="container-fluid">
    <div id="headnev" class="row navbar navbar-fixed-top">
        <div class="col-sm-5 d-flex p-2" id="startDate">
            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>
        </div>
        <!-- Header menu -->
        <div class="bs-example" th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a th:href="@{/admin/home-page}" class="nav-item nav-link" >Home</a>
                        <a th:href="@{/category}" class="nav-item nav-link">Category</a>
                        <a th:href="@{/admin/member}" class="nav-item nav-link active">Member</a>
                        <a th:href="@{/hr/interview-create}" class="nav-item nav-link">Schedule</a>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item nav-link header-name"></div>
                            <a th:href="@{/log-out}" class="nav-item nav-link">Thoát</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- End Header menu -->
    <hr/>

    <div class="form_box col-sm-10">
        <div class="row ml-5">
            <div class="col-sm-5">
                <input type="hidden" id="member-id" value="0"/>
                <label class="form-check-label ml-2" for="userName">UserName:</label>
                <input type="text" class="form-control m-2" id="userName" placeholder="Input usename"></input>

                <label class="form-check-label ml-2" for="fullName">Full Name:</label>
                <input type="text" class="form-control m-2" id="fullName" placeholder="Input Full name"></input>

                <label class="form-check-label ml-2" for="email">Email:</label>
                <input type="text" class="form-control m-2" id="email" placeholder="Input email"></input>
            </div>
            <div class="col-sm-4 ml-5">
                <label class="form-check-label ml-2" for="phone">Mobile Phone:</label>
                <input type="text" class="form-control m-2" id="phone" placeholder="Input mobile phone"></input>

                <label class="form-check-label ml-2" for="permission">Choose Type:</label>
                <select class="form-control  m-2" id="permission">
                    <option value="0">--</option>
                    <option value="1">System Admin</option>
                    <option value="2">HR</option>
                    <option value="3">Interview</option>
                </select>
            </div>
        </div>
        
        <div class="row ml-5">
            <div class="col-sm-6"></div>
            <div class="col-sm-3 ml-5">
                <button type="button" class="btn btn-info btn-lg pt-1 pb-1 pl-4 pr-4 ml-5" onclick="">Clear
                </button>
                <button type="button" class="btn btn-info btn-lg pt-1 pb-1  pl-4 pr-4 ml-3" onclick="addNew();">Save
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <h3>Member:</h3>
    </button>
    <!-- Table list account server -->
    <table id="inteviewer-1" class="table table-striped table-bordered"
           style="width: 100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>User Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="list-member">
        <tr>
            <td>1</td>
            <td>Do</td>
            <td>Do</td>
            <td>abc@xyz</td>
            <td>123456/td>
            <td>HR</td>
            <td>
                <center>
                    <button type="button" class="btn btn-info btn-circle"><b>-</b></button>
                </center>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        loadData();
    });

    var homeUrl = "";

    function addNew(){

        var memberId = $("#member-id").val();
        var userName = $("#userName").val();
        var fullName = $("#fullName").val();
        var email = $("#email").val();
        var phone = $("#phone").val();
        var permission = $("#permission").val();
        if(userName == null || userName.trim() == "" || email == null || email.trim() == "" || phone == null || phone.trim() == "" || permission == 0 || permission > 3) {
            alert("Request data not valid, please check and try again!!!");
            return;
        }

        var jsonData = '{"userName" : "' + userName + '", "email" : "' + email + '", "phone" : "' + phone + '", "permission" : ' + permission + ', "fullName" : "'+fullName+'"}';
        if(memberId > 0) {
            // update
            $.ajax({
                url: homeUrl + "/api/user/update-member/" + memberId,
                type: "POST",
                dataType: 'json', headers: {
                    'Authorization': sessionStorage.getItem("token"),
                },
                contentType: "application/json",
                data: jsonData,
                success: function (response) {
                    $("#userName").val("");
                    $("#fullName").val("");
                    $("#email").val("");
                    $("#phone").val("");
                    $("#permission").val(0);
                    alert(response.msg);
                    loadData();
                },
                error: function (jqXHR) {
                    alert("Error: " + jqXHR.responseJSON.msg);
                }
            });
        } else {
            $.ajax({
                url: homeUrl + "/api/user/add-member",
                type: "POST",
                dataType: 'json', headers: {
                    'Authorization': sessionStorage.getItem("token"),
                },
                contentType: "application/json",
                data: jsonData,
                success: function (response) {
                    $("#userName").val("");
                    $("#fullName").val("");
                    $("#email").val("");
                    $("#phone").val("");
                    $("#permission").val(0);
                    alert(response.msg);
                    loadData();
                },
                error: function (jqXHR) {
                    alert("Error: " + jqXHR.responseJSON.msg);
                }
            });
        }
    }

    function loadData() {
        $.ajax({
            url: homeUrl + "/api/user/listAll",
            type: "GET",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            success: function (response) {
                var html = "";
                $.each(response.data, function (index, value) {
                    html += "<tr>\n" +
                        "            <td>" + value.id + "</td>\n" +
                        "            <td>" + value.userName + "</td>\n" +
                        "            <td>" + value.fullName + "</td>\n" +
                        "            <td>" + value.email + "</td>\n" +
                        "            <td>" + value.phone + "</td>\n" +
                        "            <td>" + value.userType + "</td>\n" +
                        "            <td><center> " +
                        "                    <button type='button' class='btn btn-info btn-circle' onclick='editItem(" + value.id + ")'><b>edit</b></button> | " +
                        "                    <button type='button' class='btn btn-info btn-circle' onclick='removeItem(" + value.id + ")'><b>del</b></button> " +
                        "                </center></td> " +
                        "        </tr>";
                });
                $("#list-member").html(html);
                var table = $('#inteviewer-1').DataTable();
                // $('#inteviewer-1 tbody').on('click', 'td', function (evt) {
                //     console.log("Indexxxx" + $(this).index());
                //     if ($(this).index() == 6) {
                //         return;
                //     }
                //     var data = table.row(this).data();
                //     $("#member-id").val(data[0]);
                //     $("#userName").val(data[1]);
                //     $("#email").val(data[2]);
                //     $("#phone").val(data[3]);
                //     var role = data[4] === "ADMIN" ? 1 : data[4] === "INTERVIEW" ? 2 : 3;
                //     $("#permission").val(role);
                // });
            }
        });
    }

    function editItem(memberId) {
            $.ajax({
                url: homeUrl + "/api/user/get-member/" + memberId,
                type: "GET",
                headers: {
                    'Authorization': sessionStorage.getItem("token"),
                },
                contentType: "application/json",
                success: function (response) {
                        $("#member-id").val(memberId);
                        $("#userName").val(response.data.userName);
                        $("#fullName").val(response.data.fullName);
                        $("#email").val(response.data.email);
                        $("#phone").val(response.data.phone);
                        $("#permission").val(response.data.permission);
                },
                error: function (jqXHR) {
                    alert("Error: " + jqXHR.responseJSON.msg);
                }
            });
    }

    function removeItem(memberId) {
        $.ajax({
            url: homeUrl + "/api/user/delete-member/" + memberId,
            type: "POST",
            headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            success: function (response) {
                alert(response.msg);
                loadData();
            },
            error: function (jqXHR) {
                alert("Error: " + jqXHR.responseJSON.msg);
            }
        });
    }
</script>
</body>
</html>