.hc-luckywheel ul,
.hc-luckywheel li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hc-luckywheel {
  position: relative;
  width: 500px; /*Change this when change size*/
  height: 500px; /*Change this when change size*/
  border-radius: 50%;
  /*border: 16px solid #e44025;*/
  box-shadow: 0 2px 3px #333, 0 0 2px #000;
}

.hc-luckywheel-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-clip: padding-box;
  background-color: #ffcb3f;
  -webkit-transition: transform 6s ease;
  transition: transform 6s ease;
}

.hc-luckywheel-container canvas {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.hc-luckywheel-list {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  z-index: 2;
}

.hc-luckywheel-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #e4370e;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

.hc-luckywheel-item span {
  position: relative;
  display: block;
  padding-top: 20px;
  /* width: 50px; */
  margin: 0 auto;
  text-align: center;
  -webkit-transform-origin: 50% 250px; /*Change this when change size*/
  -ms-transform-origin: 50% 250px; /*Change this when change size*/
  transform-origin: 50% 250px;
} /*Change this when change size*/

.hc-luckywheel-item img {
  position: relative;
  top: -20px;
  left: 0px;
  width: 100px; /*Change this when change size*/
  height: 100px;
} /*Change this when change size*/

.hc-luckywheel-btn {
  position: absolute;
  left: 210px; /*Change this when change size*/
  top: 210px; /*Change this when change size*/
  z-index: 3;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #f4e9cc;
  background-color: #e44025;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.hc-luckywheel-btn::after {
  position: absolute;
  display: block;
  content: "";
  left: 10px;
  top: -46px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 30px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #e44025;
}

.hc-luckywheel-btn.disabled {
  pointer-events: none;
  background: #b07a7b;
  color: #ccc;
}

.hc-luckywheel-btn.disabled::after {
  border-bottom-color: #b07a7b;
}

body{ margin:0; padding:0; height:100vh; width:100%; }
