<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Applicant</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/css/style-login.css}" rel="stylesheet"/>
    <script th:src="@{/js/ctxd.js}"></script>
</head>
</body>
<div class="wrapper fadeInDown">
    <div id=formApplicant>
        <!-- Tabs Titles -->
        <h3>Manager Applicant</h3>
        <hr/>
        <div th:if="${errorMessage}" class="alert alert-warning" role="alert" th:text="${errorMessage}"></div>

        <!-- Login Form -->
        <form method="POST" enctype="multipart/form-data" id="fileUploadForm" >
        <table id="applicant-1" class="table table-striped table-bordered" style="width: 100%" >
           <tr>
           	 <th style="width: 100px; text-align: center; vertical-align: middle;">Fullname</th>
           	 <td style="text-align:left;"><input style="width: 100%; text-align:left;" type="text"class="fadeIn second" name="fullname" id="fullname" th:field="*{applicantData.fullName}" placeholder="name"/></td>
           </tr>
           <tr>
           	 <th style="width: 100px; text-align: center; vertical-align: middle;">Birthday</th>
           	 <td style="text-align:left;  padding-left: 50px;" ><input type="date" class="fadeIn second" name="birthday" id="birthday" th:field="*{applicantData.birthday}" placeholder="birthday"/></td>
           </tr>
           <tr>
           	 <th style="width: 100px; text-align: center; vertical-align: middle;">Phone</th>
           	 <td style="text-align:left;"><input style="width: 100%; text-align:left;" type="text"   class="fadeIn second" name="phone" id="phone" th:field="*{applicantData.phone}" placeholder="phone"/></td>
           </tr>
           <tr>
           	 <th style="width: 100px; text-align: center; vertical-align: middle;">Email</th>
           	 <td style="text-align:left;"><input style="width: 100%; text-align:left;" type="text"  class="fadeIn second"  id="email" th:field="*{applicantData.email}" placeholder="email"/></td>
           </tr>
           <tr>
           	 <th style="width: 100px; text-align: center; vertical-align: middle;">CV</th>
           	 <td style="text-align:left;"><input style="padding-left: 30px;" id="fileupload"  type="file" name="fileupload" placeholder="Input CV file" /> </td>
           </tr>
    	</table>
    	
            <input type="button" class="fadeIn fourth" value="Save" id="registerApplicant"/>
        </form>

    </div>
</div>
<script>

$("#registerApplicant").click(function () {
	uploadFile();
});

function getParameterByName(name, url = window.location.href) {
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

var paramId = getParameterByName('id');

var homeUrl = "";
var fileName = "";
async function uploadFile() {
	  var formData = new FormData(); 
	  formData.append("file", fileupload.files[0]);

	  var fullname = $("#fullname").val();
	    var birthday = $("#birthday").val();
	    var phone = $("#phone").val();
	    var email = $("#email").val();
	    if(fullname == null || email == null || birthday == null || phone == null) {
	        alert("Các thông tin bắt buộc !!!");
	        return;
	    }
	    if(fullname.trim().length < 5) {
	        alert("Tài khoản > 6 kí tự !!!");
	        return;
	    }
	    formData.append('user', new Blob([JSON.stringify({
            "fullname": fullname,
            "birthday": birthday,
            "phone": phone,
            "email": email,
            "id":paramId
        })], {
            type: "application/json"
        }));
	    
	  let response = await fetch('/api/applicant/editCV', {
	    method: "POST",  headers: {
            'Authorization': sessionStorage.getItem("token"),
        },
	    body: formData
	  }); 

	  if (response.status == 200) {
	    alert("File successfully uploaded.");
        window.location.href = homeUrl + "/hr/home-page";
	  } else {
		alert("There a server error");
	  }
	}

</script>
</body>
</html>