<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin-Category Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/ctxd.js}"></script>
</head>

<style>
    .ellipsis {
        max-width: 40px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    #headnev {
        background-color: rgb(11, 18, 63);
        color: white;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 8px;
        line-height: 1.33;
        border-radius: 25px;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

    #SaveCategory {
        float: right;
    }
</style>
<body>
<div class="container-fluid">
    <div id="headnev" class="row navbar navbar-fixed-top">
        <div class="col-sm-5 d-flex p-2" id="startDate">
            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>
        </div>
        <!-- Header menu -->
        <div class="bs-example" th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a th:href="@{/admin/home-page}" class="nav-item nav-link">Home</a>
                        <a th:href="@{/category}" class="nav-item nav-link active">Category</a>
                        <a th:href="@{/admin/member}" class="nav-item nav-link">Member</a>
                        <a th:href="@{/hr/interview-create}" class="nav-item nav-link">Schedule</a>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item nav-link header-name"></div>
                            <a th:href="@{/log-out}" class="nav-item nav-link">Thoát</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- End Header menu -->
    <hr/>
    <div class="row">
        <div class="border-right col-sm-4">
            <h3>Group: </h3>
            <hr/>
            <div class="form-group">
                <label class="form-check-label" for="Name">Name Category:</label>
                <input type="text" class="form-control" th:field="*{category.name}" id="Name">
            </div>
            <div class="form-group">
                <label class="form-check-label" for="Group">Choose Group:</label>
                <select id="Group" th:field="*{category.group}">
                    <option th:each="state : ${T(com.hackathon.model.GroupEnum).values()}"
                            th:value="${state}"
                            th:text="${state.label}">
                    </option>
                </select>
                <br/>
                <button type="button" class="btn btn-primary mb-3" id="SaveCategory">New Category</button>
                <input type="hidden" class="btn btn-primary mb-3 " id="CategoryId" value=""></input>
            </div>
        </div>

        <div class="col-sm-8">
            <h3>Add New Question: </h3>
            <hr/>
            <div class="row">
                <div class="col-sm-5">
                    <label for="question">Question:</label>
                    <div class="form-floating">
					<textarea class="form-control" id="question"
                              placeholder="question" rows="4" cols="50">
					</textarea>
                    </div>
                </div>

                <div class="col-sm-5">
                    <label for="answer">Answer:</label>
                    <div class="form-floating">
					<textarea class="form-control" id="answer"
                              placeholder="answer" rows="4" cols="50">
					</textarea>
                    </div>
                </div>

                <div class="col-sm-2">
                    <label for="questionlevel" class="visually-hidden">Level: </label>
                    <select id="questionlevel">
                        <option th:each="state : ${T(com.hackathon.model.LevelEnum).values()}"
                                th:value="${state.label}"
                                th:text="${state}">
                        </option>
                    </select>
                    <br/>
                    <br/>
                    <input type="hidden" class="btn btn-primary mb-3" id="QuestionId" value=""/>
                    <button type="button" class="btn btn-primary btn-block" id="SaveQuestion">Add Question</button>
                    <button type="button" class="btn btn-primary btn-block" id="NewQuestion">Clear Data</button>
                </div>
            </div>

        </div>
    </div>

    <hr/>

    <!-- Table list account server -->
    <div>
        <h3>List Question:</h3>
        <table id="list-1" class="table table-striped table-bordered" style="width: 100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Level</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="list-question">

            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#list-1').DataTable();

        $("#CategoryId").val(getParameterByName('id'));
        loadQuestion();
    });
    var homeUrl = "";

    $("#SaveCategory").click(function () {
        saveCategory();
    });

    $("#SaveQuestion").click(function () {
        saveQuestion();
    });

    $("#NewQuestion").click(function () {
        clearQuestion();
    });

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }


    var homeUrl = "";

    function addfucnTable() {
        if ($.fn.dataTable.isDataTable('#list-1')) {
            $('#list-1').DataTable().destroy();
        }
        var table = $('#list-1').DataTable({
            scrollY: '20vh',
            scrollCollapse: true,
            paging: false,
        });
        $('#list-1 tbody').on('click', 'tr', function () {
            var data = table.row(this).data();
            // alert( 'You clicked on '+data[0]+'\'s row' );
            $("#QuestionId").val(data[0]);
            $("#question").val(data[1]);
            $("#answer").val(data[2]);
        });
    }

    function clearQuestion() {
        $("#question").val("");
        $("#answer").val("");
        $("#QuestionId").val("");
    }

    function saveCategory() {
        var group = $("#Group").find(':selected').attr('value');
        var name = $("#Name").val();
        if (group == null || name == null) {
            alert("Các thông tin bắt buộc !!!");
            return;
        }

        var cateId = $("#CategoryId").val();
        var dataReg = {group: group, name: name, id: cateId};

        if (cateId == "") {
            $.ajax({
                url: homeUrl + "/api/category/addCategory",
                type: "POST",
                headers: {
                    'Authorization': sessionStorage.getItem("token"),
                },
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(dataReg),
                success: function (response) {
                    alert(response.msg);
                    $("#CategoryId").val(response.data.id);
                },
                error: function (jqXHR) {
                    alert("Error: " + jqXHR.responseJSON.msg);
                }
            });
        } else {
            $.ajax({
                url: homeUrl + "/api/category/editCategory",
                type: "POST",
                headers: {
                    'Authorization': sessionStorage.getItem("token"),
                },
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(dataReg),
                success: function (response) {
                    alert(response.msg);
                },
                error: function (jqXHR) {
                    alert("Error: " + jqXHR.responseJSON.msg);
                }
            });
        }

    }

    function saveQuestion() {
        var question = $("#question").val();
        var answer = $("#answer").val();
        var level = $("#questionlevel").find(':selected').attr('value');
        var cateId = document.getElementById("CategoryId").value;
        var queId = $("#QuestionId").val();
        if (question == null || answer == null) {
            alert("Các thông tin bắt buộc !!!");
            return;
        }

        if (cateId == "") {
            alert("Hãy lưu Category trước khi save question");
            return;
        }

        var dataReg = {question: question, answer: answer, level: level, id: queId, categoryId: cateId};

        if (queId == "") {
            $.ajax({
                url: homeUrl + "/api/question/addQuestion",
                type: "POST",
                headers: {
                    'Authorization': sessionStorage.getItem("token"),
                },
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(dataReg),
                success: function (response) {
                    alert(response.msg);
                    clearQuestion();
                    $("#QuestionId").val(response.data.id);
                    loadQuestion();
                },
                error: function (jqXHR) {
                    alert("Error: " + jqXHR.responseJSON.msg);
                }
            });
        } else {
            $.ajax({
                url: homeUrl + "/api/question/editQuestion",
                type: "POST",
                headers: {
                    'Authorization': sessionStorage.getItem("token"),
                },
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(dataReg),
                success: function (response) {
                    alert(response.msg);
                    loadQuestion();
                },
                error: function (jqXHR) {
                    alert("Error: " + jqXHR.responseJSON.msg);
                }
            });
        }

    }

    function loadQuestion() {
        var cateId = document.getElementById("CategoryId").value;
        if (cateId != "") {
            $.ajax({
                url: homeUrl + "/api/question/listAll?categoryId=" + cateId,
                type: "GET",
                dataType: 'json', headers: {
                    'Authorization': sessionStorage.getItem("token"),
                },
                contentType: "application/json",
                success: function (response) {
                    var html = "";
                    $.each(response.data, function (index, value) {
                        var enumDisplay = "";
                        if(value.level == 1) {enumDisplay = "Beginer"} else if (value.level == 2) {enumDisplay = "Junior"} else {enumDisplay = "Advance"}
                        html += "<tr>\n" +
                            "                    <td>" + value.id + "</td>\n" +
                            "                    <td class='ellipsis'>" + value.questionContent + "</td>\n" +
                            "                    <td class='ellipsis'>" + value.answer + "</td>\n" +
                            "                    <td>" + enumDisplay + "</td>\n" +
                            "            		 <td><center> " +
                            "                    	<button type='button' class='btn btn-info btn-circle' onclick='editItem(" + value.id + ")'><b>edit</b></button> | " +
                            "                    	<button type='button' class='btn btn-info btn-circle' onclick='deleteQuestion(" + value.id + ")'><b>del</b></button> " +
                            "                	 </center></td> " +
                            "                </tr>";
                    });
                    if ($.fn.dataTable.isDataTable('#list-1')) {
                        $('#list-1').DataTable().destroy();
                    }

                    $("#list-question").html(html);

                    var table = $('#list-1').DataTable();
                }
            });
        }

    }
    
    function editItem(memberId) {
        $.ajax({
            url: homeUrl + "/api/question/get-question/" + memberId,
            type: "GET",
            headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            success: function (response) {
                    $("#QuestionId").val(response.data.id);
                    $("#question").val(response.data.questionContent);
                    $("#answer").val(response.data.answer);
            },
            error: function (jqXHR) {
                alert("Error: " + jqXHR.responseJSON.msg);
            }
        });
}
    function deleteQuestion(id) {
        if (confirm("Are you sure you want to delete this?")) {
            $.ajax({
                url: homeUrl + "/api/question/deleteQuestion?id=" + id,
                type: "POST",
                headers: {
                    'Authorization': sessionStorage.getItem("token"),
                },
                dataType: 'json',
                contentType: "application/json",
                success: function (response) {
                    alert(response.msg);
                    loadQuestion();
                },
                error: function (jqXHR) {
                    alert("Error: " + jqXHR.responseJSON.msg);
                }
            });
        } else {
            return false;
        }
    }

</script>
</body>

</html>