<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interview Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/ctxd.js}"></script>
</head>
<style>
    #headnev {
        background-color: rgb(11, 18, 63);
        color: white;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>
<body>
<div class="container-fluid">
    <div id="headnev" class="row navbar navbar-fixed-top">
        <div class="col-sm-5 d-flex p-2" id="startDate">
            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>
        </div>
        <!-- Header menu -->
        <div class="bs-example" th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a th:href="@{/interview/home-page}" class="nav-item nav-link active" active>Home</a>
                        <a th:href="@{/hr/interview-create}" class="nav-item nav-link">Schedule</a>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item nav-link header-name"></div>
                            <a th:href="@{/log-out}" class="nav-item nav-link">Thoát</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- End Header menu -->
    
    <hr/>
    <a th:href="@{/applicant/add}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add new Applicant</a>
    <a th:href="@{/hr/interview-create}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add new schedule</a>

    <h3>List Applicant</h3>
    <!-- Table list account server -->
    <table id="applicant-1" class="table table-striped table-bordered"
           style="width: 100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>BirthDay</th>
            <th>phone</th>
            <th>email</th>
            <th>CV link</th>
            <th>Has Inteview</th>
            <th>Detail</th>
            <th>Edit/Delete</th>
        </tr>
        </thead>
        <tbody id="list-applicant">
        </tbody>      
    </table>
    <h5 class="ml-2 mt-3">LIST INTERVIEW SCHEDULE</h5>
        <!--Table interview select data-->
        <table id="schedule-table" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>No</th>
                <th>Applicant</th>
                <th>Interviewer</th>
                <th>Start</th>
                <th>End</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="list-schedule">
               
            </tbody>
        </table>
</div>

<script>
    $(document).ready(function () {
        setMenu();
        getData();
        loadScheduleList();
    });
    
    function setMenu() {
        var html = "<div class=\"col-sm-5 d-flex p-2\" id=\"startDate\">\n" +
            "            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>\n" +
            "        </div>\n" +
            "        <!-- Header menu -->\n" +
            "        <div class=\"bs-example\" th:fragment=\"header\">\n" +
            "            <nav class=\"navbar navbar-expand-md navbar-light bg-light\">\n" +
            "                <div class=\"collapse navbar-collapse\" id=\"navbarCollapse\">\n" +
            "                    <div class=\"navbar-nav\">\n" +
            "                        <a href=\"/admin/home-page\" class=\"nav-item nav-link\">Home</a>\n" +
            "                        <a href=\"/category\" class=\"nav-item nav-link\">Category</a>\n" +
            "                        <a href=\"/admin/member\" class=\"nav-item nav-link\">Member</a>\n" +
            "                        <a href=\"/hr/interview-create\" class=\"nav-item nav-link active\">Schedule</a>\n" +
            "                        <div class=\"navbar-nav ml-auto\">\n" +
            "                            <div class=\"nav-item nav-link header-name\"></div>\n" +
            "                            <a href=\"/log-out\" class=\"nav-item nav-link\">Thoát</a>\n" +
            "                        </div>\n" +
            "                    </div>\n" +
            "                </div>   \n" +
            "            </nav>\n" +
            "        </div>";
        if(sessionStorage.getItem("menuType") != 1) {
            html = "<div class=\"col-sm-5 d-flex p-2\" id=\"startDate\">\n" +
                "            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>\n" +
                "        </div>\n" +
                "        <!-- Header menu -->\n" +
                "        <div class=\"bs-example\" th:fragment=\"header\">\n" +
                "            <nav class=\"navbar navbar-expand-md navbar-light bg-light\">\n" +
                "                <div class=\"collapse navbar-collapse\" id=\"navbarCollapse\">\n" +
                "                    <div class=\"navbar-nav\">\n" +
                "                        <a href=\"/hr/home-page\" class=\"nav-item nav-link\">Home</a>\n" +
                "                        <a href=\"/hr/interview-create\" class=\"nav-item nav-link active\">Schedule</a>\n" +
                "                        <div class=\"navbar-nav ml-auto\">\n" +
                "                            <div class=\"nav-item nav-link header-name\"></div>\n" +
                "                            <a href=\"/log-out\" class=\"nav-item nav-link\">Thoát</a>\n" +
                "                        </div>\n" +
                "                    </div>\n" +
                "                </div>   \n" +
                "            </nav>\n" +
                "        </div>";
        }
        $("#headnev").html(html);
    }
    
    var homeUrl = "";
    function getData() { 
    	$.ajax({
            url: homeUrl + "/api/applicant/listApplicant",
            type: "GET",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            success: function (response) {
                var html = "";
                $.each(response.data, function (index, value) {
    				var status = value.Status?"checked":"";
    				var birthday = new Date(value.birthday);
                    html += "        <tr>\n" +
                        "            <td>" + (index + 1) + "</td>\n" +
                        "            <td>" + value.fullName + "</td>\n" +
                        "            <td>" + birthday.getFullYear() + "/" + ("0" + (birthday.getMonth() + 1)).slice(-2) + "/" + ("0" + (birthday.getDate() + 1)).slice(-2) + "</td>\n" +
                        "            <td>" + value.phone + "</td>\n" +
                        "            <td>" + value.email + "</td>\n" +
                        "            <td><a target=\"_blank\" href=\"/api/applicant/getpdf?apt-id=" + value.id + "\" >View CV</a></td>\n" +
                        "            <td><input type=\"checkbox\" " + value.status + " ></td>\n" +
                        "            <td><a href=\"/apt?id=" + value.id + "\" >Detail</a></td>\n" +
                        "            <td><a href=\"/applicant/edit?id=" + value.id + "\" >Edit</a>|" + 
                        "<a onclick=\"deleteApt("+ value.id +")\" href=\"javascript:void(0);\">Delete</a></td>\n" +
                        "        </tr>";
                });
                $("#list-applicant").html(html);      
                $('#applicant-1').DataTable();            

            }
        });
    }
    
    async function deleteApt(id) {
        if (confirm("Are you sure you want to delete this?")) {
            var formData = new FormData();
            formData.append("id", id);

            let response = await fetch('/api/applicant/deleteCV', {
                method: "POST", headers: {
                    'Authorization': sessionStorage.getItem("token"),
                },
                body: formData
            });

            if (response.status == 200) {
                alert("Delete Apt successfully");
                getData();
                return false;
            } else {
                alert("There a server error");
                return false;
            }
        }
    }
    
    function loadScheduleList(){
        $.ajax({
            url: homeUrl + "/api/interview-schedule/getlist",
            type: "GET",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            success: function (response) {
                var html = "";
                $.each(response.data, function (index, value) {
    				
                    html += "        <tr>\n" +
                        "            <td>" + (index + 1) + "</td>\n" +
                        "            <td>" + value.applicantName + "</td>\n" +
                        "            <td>" + value.interviewerNames + "</td>\n" +
                        "            <td>" + value.startAt + "</td>\n" +
                        "            <td>" + value.endAt + "</td>\n" +
                        "            <td>" + value.location + "</td>\n";
                    if (value.isEdit) {
                        html += "<td>\n" +
                            "<button type=\"button\" class=\"btn btn-sm btn-info\" onclick=\"editSchedule("+ value.id +")\" href=\"javascript:void(0);\"><b>Edit</b></button>\n" +
                            "</td>\n";
                    } else {
                        html += "<td>\n" +
                            "<a href=\"/hr/view-details?id=" + value.id + "\"  class=\"btn btn-sm btn-secondary\"><b>View detail</b></a>\n" +
                            "</td>\n";
                    }
                });
                $("#list-schedule").html(html);   
                $('#schedule-table').DataTable();        

            }
        });
    }
</script>
</body>
</html>