<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Detail interview schedule</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/ctxd.js}"></script>
</head>
<style>
    #headnev1 {
        background-color: rgb(11, 18, 63);
        color: white;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #headnev {
        background-color: rgb(144, 152, 189);
        color: white;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>
<body>
<!-- Top -->
<div class="container-fluid">
    <div id="headnev1" class="row navbar navbar-fixed-top">
        <div class="col-sm-5 d-flex p-2" id="startDate1">
            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>
        </div>
        <!-- Header menu -->
        <div class="bs-example" th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a th:href="@{/hr/home-page}" class="nav-item nav-link">Home</a>
                        <a th:href="@{/category}" class="nav-item nav-link">Category</a>
                        <a th:href="@{/admin/member}" class="nav-item nav-link">Member</a>
                        <a th:href="@{/hr/interview-create}" class="nav-item nav-link active">Schedule</a>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item nav-link header-name"></div>
                            <a th:href="@{/log-out}" class="nav-item nav-link">Thoát</a>
                        </div>
                    </div>
                </div>   
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 d-flex p-4">
                <div>Appicant Name:</div>
                <div style="padding-left: 5px" th:text="*{interviewData.fullName}"></div>
            </div>
            <div class="col-sm-3 d-flex p-4">
                <div>Time Interview:</div>
                <div style="padding-left: 5px" th:text="*{interviewData.interviewTime}"></div>
            </div>
            <div class="col-sm-3 d-flex p-4">
                <div> Location:</div>
                <div style="padding-left: 5px" th:text="*{interviewData.location}"></div>
            </div>
            <div class="col-sm-3 d-flex p-4 justify-content-end">
                <a th:href="|/api/applicant/getpdf?apt-id=*{interviewData.aptId}|" target="_blank"> View CV</a>
            </div>
        </div>
        <hr/>
        <h5>Overview about applicant</h5>
        <div class="row mb-3">
            <div class="col-sm-6">
                <textarea disabled class="form-control" id="overview" rows="3" th:field="*{interviewData.overview}"></textarea>
            </div>
        </div>


        <h5>List question assessment</h5>
        <!-- Table list account server -->
        <table id="list-1" class="table table-striped table-bordered"
               style="width: 100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>APT Answer</th>
                <th>Interviewer</th>
                <th>Rate</th>
            </tr>
            </thead>
            <tbody id="list-question">
            </tbody>
        </table>

        <h5>Interviewer assessment</h5>

        <!--Other-->
        <div class="row">
            <p class="ml-5" id="interviewer-assessment"> </p>
        </div>
        <!--Pass fail-->
        <h5>Interviewer result</h5>
        <!-- Material inline 1 -->
        <div class="row">
            <p class="ml-5" id="interviewer-result"> </p>
        </div>
    </div>
    <script>
          function setMenu() {
        var html = "<div class=\"col-sm-5 d-flex p-2\" id=\"startDate\">\n" +
            "            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>\n" +
            "        </div>\n" +
            "        <!-- Header menu -->\n" +
            "        <div class=\"bs-example\" th:fragment=\"header\">\n" +
            "            <nav class=\"navbar navbar-expand-md navbar-light bg-light\">\n" +
            "                <div class=\"collapse navbar-collapse\" id=\"navbarCollapse\">\n" +
            "                    <div class=\"navbar-nav\">\n" +
            "                        <a href=\"/hr/home-page\" class=\"nav-item nav-link\">Home</a>\n" +
            "                        <a href=\"/category\" class=\"nav-item nav-link\">Category</a>\n" +
            "                        <a href=\"/admin/member\" class=\"nav-item nav-link\">Member</a>\n" +
            "                        <a href=\"/hr/interview-create\" class=\"nav-item nav-link active\">Schedule</a>\n" +
            "                        <div class=\"navbar-nav ml-auto\">\n" +
            "                            <div class=\"nav-item nav-link header-name\"></div>\n" +
            "                            <a href=\"log-out\" class=\"nav-item nav-link\">Thoát</a>\n" +
            "                        </div>\n" +
            "                    </div>\n" +
            "                </div>   \n" +
            "            </nav>\n" +
            "        </div>";
        if(sessionStorage.getItem("menuType") != 1) {
            html = "<div class=\"col-sm-5 d-flex p-2\" id=\"startDate\">\n" +
                "            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>\n" +
                "        </div>\n" +
                "        <!-- Header menu -->\n" +
                "        <div class=\"bs-example\" th:fragment=\"header\">\n" +
                "            <nav class=\"navbar navbar-expand-md navbar-light bg-light\">\n" +
                "                <div class=\"collapse navbar-collapse\" id=\"navbarCollapse\">\n" +
                "                    <div class=\"navbar-nav\">\n" +
                "                        <a href=\"/hr/home-page\" class=\"nav-item nav-link\">Home</a>\n" +
                "                        <a href=\"/hr/interview-create\" class=\"nav-item nav-link active\">Schedule</a>\n" +
                "                        <div class=\"navbar-nav ml-auto\">\n" +
                "                            <div class=\"nav-item nav-link header-name\"></div>\n" +
                "                            <a href=\"/log-out\" class=\"nav-item nav-link\">Thoát</a>\n" +
                "                        </div>\n" +
                "                    </div>\n" +
                "                </div>   \n" +
                "            </nav>\n" +
                "        </div>";
        }
        $("#headnev").html(html);
    }

        $(document).ready(function () {
            $('#list-1').DataTable({
                                "info": false
                                });
            getData();
            setMenu();
        });

        function getParameterByName(url = window.location.href) {
            var pieces = url.split(/[=]+/);
            return pieces[pieces.length - 1];
        }

        var paramId = getParameterByName();

        var homeUrl = "";
        var fileName = "";

        function getData() {
            var data = {intScheduleId: paramId};
            $.ajax({
                url: homeUrl + "/api/interview-schedule/detail?id=" + paramId,
                type: "GET",
                dataType: 'json', headers: {
                    'Authorization': sessionStorage.getItem("token"),
                },
                contentType: "application/json",
                success: function (response) {
                    var html = "";
                    $.each(response.data.listQuestion, function (index, value) {
                        html += "        <tr>\n" +
                            "            <td>" + (index + 1) + "</td>\n" +
                            "            <td>" + value.question + "</td>\n" +
                            "            <td>" + value.aptAnswer + "</td>\n" +
                            "            <td>" + value.interviewerName + "</td>\n" +
                            "            <td>" + value.rate + "</td>\n" +
                            "        </tr>";
                    });
                    $("#list-question").html(html);

                    var assessment = "";
                    var result = "";
                    $.each(response.data.assessmentList, function (index, value) {
                        assessment += value.interviewerName +" : "+ value.assessment +"<br />\n"
                        result += value.interviewerName +" : "+ value.result +"<br />\n"
                    });
                    $("#interviewer-assessment").html(assessment);
                    $("#interviewer-result").html(result);
                }
            });
        }

    </script>
</body>
</html>