﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SIM-System Interview Manager</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
	<script th:src="@{/js/ctxd.js}"></script>
	<style>
		body {
			background-color: rgb(11, 18, 63);
		}

		.common-footer-base {

		}

		.footer {
			overflow: hidden;
			height: 130px;
			background: #211c26;
			text-align: center;
			line-height: 1.2;
			font-size: 12px;
			color: #939393;
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
		}

	</style>
</head>
<body>
<div class="_1Iw2V"><img th:src="@{/images/logo.png}"></div>
<div class="jumbotron">
	<h1>System Interview Manager</h1>
	<p>Make up your work...</p>
	<p><a class="btn btn-primary btn-lg" th:href="@{/login}" role="button">Sign up</a></p>
</div>


<div class="footer">
	<div class="common-footer-base" style="margin-top:25px;line-height: 1.6"></div>
	<p class="foot-p">Develop by Riksak Team</p>
	<a target="_blank" href="#" style="display:inline-block;text-decoration:none;height:30px;line-height:30px;">@2021-2022 Riksak</a>
</div>
</body>


</html>