<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interview Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/ctxd.js}"></script>
</head>
<style>
    #headnev {
        background-color: rgb(11, 18, 63);
        color: white;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>
<body>
<div class="container-fluid">
    <div id="headnev" class="row navbar navbar-fixed-top">
        <div class="col-sm-5 d-flex p-2" id="startDate">
            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>
        </div>
        <!-- Header menu -->
        <div class="bs-example" th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a th:href="@{/interview/home-page}" class="nav-item nav-link active">Home</a>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item nav-link header-name"></div>
                            <a th:href="@{/log-out}" class="nav-item nav-link">Thoát</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- End Header menu -->
    <h3 id="headerText" class="headerText" style="text-align:center;">Today you have ? schedule need review, Please
        review now</h3>
    <hr/>

    <h3>Table</h3>
    <!-- Table list account server -->
    <table id="list-1" class="table table-striped table-bordered"
           style="width: 100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Applicant Name</th>
            <th>Schedule Time</th>
            <th>Location</th>
            <th>Detail</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody id="list-inteview">
        <tr>
            <td>1</td>
            <td>KillVN</td>
            <td>2021-08-23</td>
            <td>FP Tower</td>
            <td><a href="https://abc.jp">Go to room</a></td>
            <td><input type="checkbox"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Applicant Name</th>
            <th>Schedule Time</th>
            <th>Location</th>
            <th>Detail</th>
            <th>Status</th>
        </tr>
        </tfoot>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#list-1').DataTable();

    });
    var homeUrl = "";

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    var urlStr = "/api/interviewHome/listInteview"
    $.ajax({
        url: homeUrl + urlStr,
        type: "GET",
        dataType: 'json', headers: {
            'Authorization': sessionStorage.getItem("token"),
        },
        contentType: "application/json",
        success: function (response) {
            var html = "";
            var count = 0;
            var date = new Date(new Date().toDateString());
            $.each(response.data, function (index, value) {
                html += "        <tr>\n" +
                    "            <td>" + (index + 1) + "</td>\n" +
                    "            <td>" + value.name + "</td>\n" +
                    "            <td>" + value.schedule + "</td>\n" +
                    "            <td>" + value.location + "</td>\n";
                if (value.status === "PENDING") {
                    html += "            <td><a href=\"/interview/input?id=" + value.id + "\" >Go to Room</a></td>\n";
                } else {
                    html += "            <td><a href=\"/interview/view-details?id=" + value.id + "\" >View Details</a></td>\n";
                }
                html += "            <td><label>[" + value.status + "]</label></td>\n" +
                    "        </tr>";
                var scheduleDate = new Date(new Date(Date.parse(value.schedule)).toDateString());
                if (scheduleDate.getTime() === date.getTime()) {
                    count++;
                }
            });
            $("#list-inteview").html(html);
            $("#headerText").html("Today you have " + count + " schedule need review, Please review now");

        }
    });
</script>
</body>
</html>