<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interview Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/ctxd.js}"></script>
</head>
<style>
    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

    #headnev1 {
        background-color: rgb(11, 18, 63);
        color: white;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #headnev {
        background-color: rgb(144, 152, 189);
        color: white;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>
<body>
<!-- Top -->
<div class="container-fluid">
    <div id="headnev1" class="row navbar navbar-fixed-top">
        <div class="col-sm-5 d-flex p-2" id="startDate1">
            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>
        </div>
        <!-- Header menu -->
        <div class="bs-example" th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a th:href="@{/interview/home-page}" class="nav-item nav-link active">Home</a>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item nav-link header-name"></div>
                            <a th:href="@{/log-out}" class="nav-item nav-link">Thoát</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div id="headnev" class="row navbar navbar-fixed-top">
        <div class="col-sm-3 d-flex p-4" id="fullName">
            Appicant Name: *{interviewData.fullName}
        </div>
        <div class="col-sm-3 d-flex p-4" id="startDate">
            Time Interview: *{interviewData.interviewTime}
        </div>
        <div class="col-sm-3 d-flex p-4" id="location">
            Location: *{interviewData.location}
        </div>
        <div class="col-sm-3 d-flex p-4 justify-content-end" id="csvPath">
            <a th:href="|/api/applicant/getpdf?apt-id=*{interviewData.aptId}|" target="_blank"> View CV</a>
        </div>
    </div>
    <hr/>
    <!--Top 1-->
    <div class="row">
        <div class="col-sm-2">
            <label class="form-check-label" for="category">Select Category:</label>
            <select class="form-control" id="category">
            </select>
        </div>
        <div class="col-sm-2">
            <label class="form-check-label" for="level">Select level:</label>
            <select class="form-control" id="level">
                <option th:each="state : ${T(com.hackathon.model.LevelEnum).values()}"
                        th:value="${state.label}"
                        th:text="${state}">
                </option>
            </select>
        </div>
        <div class="col-sm-8">
            <label class="form-check-label" for="assessmentOverView">Overview:</label>
            <textarea disabled class="form-control" id="assessmentOverView" rows="3" th:field="*{interviewData.overview}"></textarea>
        </div>
    </div>
    <!--End top 1-->

    <hr/>
    <div class="row">
        <div class="col-sm-6">
            <label class="form-check-label" for="list-1">List Question:</label>
            <table id="list-1" class="table table-striped table-bordered"
                   style="width: 100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Question</th>
                    <th>Answer</th>
                </tr>
                </thead>
                <tbody id="list-question">
                <tr>
                    <td>1</td>
                    <td>a</td>
                    <td>b</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--Form-->
        <div class="col-sm-6">
            <input type="hidden" id="question-id" value="0"/>
            <label class="form-check-label" for="pass">Question:</label>
            <textarea class="form-control" id="question-1" rows="2"></textarea>


            <label class="form-check-label" for="pass">Answer:</label>
            <textarea class="form-control" id="answer-1" rows="2"></textarea>


            <label class="form-check-label" for="pass">APT answer:</label>
            <textarea class="form-control" id="apt-answer-1" rows="2"></textarea>

            <div class="row">
                <div class="col-sm-3">
                    <label class="form-check-label" for="pass">Rate:</label>
                    <select class="form-control" id="rate">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="col-sm-9 d-flex p-3 justify-content-end">
                    <button type="button" class="btn btn-info btn-circle btn-lg" onclick="addToArray();"><b>+</b>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <!--Table interview select data-->
    <table id="list-2" class="table table-striped table-bordered"
           style="width: 100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Question</th>
            <th>Answer</th>
            <th>APT Answer</th>
            <th>Rate</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="list-result">
        <tr>
            <td>1</td>
            <td>Java là gì?</td>
            <td>Java là Java...</td>
            <td>Tôi không biết</td>
            <td>6/10</td>
            <td>
                <center>
                    <button type="button" class="btn btn-info btn-circle"><b>-</b></button>
                </center>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Other:</h3>

    <!--Other-->
    <div class="row">
        <div class="col-sm-12">
            <textarea class="form-control" id="other" rows="3"></textarea>
        </div>
    </div>
    <!--Pass fail-->
    <h3>Result:</h3>
    <!-- Material inline 1 -->
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="pass" name="passFail" value="true">
        <label class="form-check-label" for="pass">Pass</label>
    </div>

    <!-- Material inline 2 -->
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="fail" name="passFail" value="false">
        <label class="form-check-label" for="fail">Fail</label>
    </div>
    <hr/>
    <div>
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="submitData();">Submit</button>
    </div>
    <br/><br/>

</div>

</body>

<script>
    var data = sessionStorage.getItem("arrData");
    ;
    var arrData = [];
    if (data != null) {
        arrData = JSON.parse(data);
    }
    $(document).ready(function () {
        loadCategory();
        loadApt();
        loadQuestion();

        $('body').on('change', '#category', function () {
            loadQuestion();
        });
        $('body').on('change', '#level', function () {
            loadQuestion();
        });
        reloadData();

    });

    var homeUrl = "";

    function loadCategory() {
        $.ajax({
            url: homeUrl + "/api/category/listAll",
            type: "GET",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            success: function (response) {
                var html = "<option value=\"0\">--</option>";
                $.each(response.data, function (index, value) {
                    html += "<option value=\"" + value.id + "\">" + value.name + "</option>";
                });
                $("#category").html(html);
            }
        });
    }

    function loadApt() {

        var isId = location.search.split('id=')[1];
        $.ajax({
            url: homeUrl + "/api/interview-schedule/" + isId,
            type: "GET",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            success: function (response) {
                $("#fullName").html("Appicant Name: " + response.data.applicant.fullName);
                $("#startDate").html("Time Interview: " + response.data.startAt);
                $("#location").html("Location: " + response.data.roomName);
                $("#csvPath").html("<a target=\"_blank\" href = \"/api/applicant/getpdf?apt-id=" + response.data.applicant.id + "\"> View CV</a>")
            }
        });
    }

    function loadQuestion() {

        var category = $("#category").val();
        var level = $("#level").val();
        var url = "/api/question/listAll";
        if (category > 0 && level == 0) {
            url += "?categoryId=" + category;
        }
        if (category == 0 && level > 0) {
            url += "?level=" + level;
        }
        if (category > 0 && level > 0) {
            url += "?categoryId=" + category + "&level=" + level;
        }
        $.ajax({
            url: homeUrl + url,
            type: "GET",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            success: function (response) {
                sessionStorage.setItem("dataQuestion", JSON.stringify(response.data))
                var html = "";
                $.each(response.data, function (index, value) {
                    html += "<tr>\n" +
                        "                    <td>" + value.id + "</td>\n" +
                        "                    <td>" + value.questionContent + "</td>\n" +
                        "                    <td>" + value.answer + "</td>\n" +
                        "                </tr>";
                });
                if ($.fn.dataTable.isDataTable('#list-1')) {
                    $('#list-1').DataTable().destroy();
                }
                $("#list-question").html(html);
                var table = $('#list-1').DataTable({
                    scrollY: '20vh',
                    scrollCollapse: true,
                    paging: false
                });
                // table.destroy();
                $('#list-1 tbody').on('click', 'tr', function () {
                    var idNeedFind = $(this).children()[0].textContent;
                    var data = JSON.parse(sessionStorage.getItem("dataQuestion"));
                    $.each(response.data, function (index, value) {
                        if(value.id == idNeedFind) {
                            $("#question-id").val(value.id);
                            $("#question-1").val(value.questionContent);
                            $("#answer-1").val(value.answer);
                            return;
                        }
                    });
                });
            }
        });


    }

    function addToArray() {
        var quesId = $("#question-id").val();
        var ques = $("#question-1").val().trim().replace(/\n/g, "\\n");
        var answer = $("#answer-1").val().trim().replace(/\n/g, "\\n");
        var answerApt = $("#apt-answer-1").val().trim().replace(/\n/g, "\\n");
        var rate = $("#rate").val();
        if (quesId == 0) {
            alert("Please choose question and try again");
            return;
        }
        // var a = '{"questionId" : "' + quesId + '", "question" : "' + ques + '", "answer" : "' + answer + '", "aptAnswer" : "' + answerApt + '", "rate" : "' + rate + '"}';
        // console.log(a);
        arrData.push(JSON.parse('{"questionId" : "' + quesId + '", "question" : "' + ques + '", "answer" : "' + answer + '", "aptAnswer" : "' + answerApt + '", "rate" : "' + rate + '"}'));
        sessionStorage.setItem("arrData", JSON.stringify(arrData));
        reloadData();

    }

    function reloadData() {
        var html = "";
        $.each(arrData, function (index, value) {
            html += "<tr>\n" +
                "                    <td>" + value.questionId + "</td>\n" +
                "                    <td>" + value.question + "</td>\n" +
                "                    <td>" + value.answer + "</td>\n" +
                "                    <td>" + value.aptAnswer + "</td>\n" +
                "                    <td>" + value.rate + "</td>\n" +
                "                    <td><center><button type=\"button\" class=\"btn btn-info btn-circle\" onclick=\"removeItem(" + index + ")\"><b>-</b></button></center></td>\n" +
                "                </tr>";
        });
        $("#list-result").html(html);
        // reset data
        $("#question-id").val("");
        $("#question-1").val("");
        $("#answer-1").val("");
        $("#apt-answer-1").val("");
        $("#rate").val(1);
    }

    function removeItem(item) {
        // alert("Click vao remove nè: " + item);
        arrData.splice(item, 1);
        reloadData();
        sessionStorage.setItem("arrData", JSON.stringify(arrData));

    }


    function submitData() {
        var assessmentOverView = $("#assessmentOverView").val();
        var other = $("#other").val();
        var result = $("input[name='passFail']:checked").val();
        if (result === undefined) {
            alert("Vui lòng đánh giá kết quả");
            return;
        }
        var scheduleQuestion = JSON.stringify(arrData);
        var dataSubmit = '{"assessmentOverView" : "' + assessmentOverView + '", "other" : "' + other + '", "result" : ' + result + ', "scheduleQuestion" : ' + scheduleQuestion + '}';
        console.log(dataSubmit);
        var isId = location.search.split('id=')[1];
        $.ajax({
            url: homeUrl + "/api/interview-schedule/result/" + isId,
            type: "POST",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            data: dataSubmit,
            success: function (response) {
                alert(response.msg);
                window.location.href = "/interview/home-page";
            },
            error: function (jqXHR) {
                alert("Error: " + jqXHR.responseJSON.msg);
            }
        });
    }

</script>
</html>