<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interview create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.css}"/>
    <!-- JavaScript -->
    <script th:src="@{/js/bootstrap-datetimepicker.js}"></script>
    <!-- Languages -->
    <script th:src="@{/js/locales/bootstrap-datetimepicker.el.js}"></script>
    <script th:src="@{/js/ctxd.js}"></script>

</head>
<style>
    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

    #headnev {
        background-color: rgb(11, 18, 63);
        color: white;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    #interviewer{
        height: 156px;
    }
</style>
<body>
<!-- Top -->
<div class="container-fluid">
    <div id="headnev" class="row navbar navbar-fixed-top">
        <div class="col-sm-5 d-flex p-2" id="startDate">
            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>
        </div>
        <!-- Header menu -->
        <div class="bs-example" th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a th:href="@{/hr/home-page}" class="nav-item nav-link">Home</a>
                        <a th:href="@{/category}" class="nav-item nav-link">Category</a>
                        <a th:href="@{/admin/member}" class="nav-item nav-link">Member</a>
                        <a th:href="@{/hr/interview-create}" class="nav-item nav-link active">Schedule</a>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item nav-link header-name"></div>
                            <a th:href="@{/log-out}" class="nav-item nav-link">Thoát</a>
                        </div>
                    </div>
                </div>   
            </nav>
        </div>
    </div>
    <hr/>
    <!--Top 1-->
    <h5 class="ml-2 mt-3">INTERVIEW SCHEDULE INFORMATION</h5>
    <div class="row ml-2 mr-2 p-2 border border-info rounded">
        <div class="col-sm-3">
            <label class="form-check-label m-2" for="applicant">Select Applicant</label>
            <select class="form-control m-2" id="applicant">
                <option value="0">--</option>
                <option value="1">Applicant Tran Van Nam 1</option>
                <option value="2">Applicant Tran Van Nam 2</option>
                <option value="3">Applicant Tran Van Nam 3</option>
            </select>

            <label class="form-check-label m-2" for="overviewContent">Applicant overview:</label>
            <textarea class="form-control m-2" id="overviewContent" rows="2"></textarea>
        </div>

        <div class="col-sm-3 ml-3 mr-2 border-left border-info">
            <label class="form-check-label m-2" for="interviewer">Select interviewer (multiable)</label>
            <select multiple class="form-control m-2" size="7" id="interviewer">
                <option value="0">--</option>
                <option value="1">Interviewer Tran Van Nam 1</option>
                <option value="2">Interviewer Tran Van Nam 2</option>
                <option value="3">Interviewer Tran Van Nam 3</option>
                <option value="4">Interviewer Tran Van Nam 4</option>
                <option value="5">Interviewer Tran Van Nam 5</option>
                <option value="6">Interviewer Tran Van Nam 6</option>
                <option value="7">Interviewer Tran Van Nam 7</option>
                <option value="8">Interviewer Tran Van Nam 8</option>
                <option value="9">Interviewer Tran Van Nam 9</option>
            </select>
        </div>

        <div class="row col-sm-5 ml-2 border-left border-info">
            <div class="col-sm-5 mr-2">
                <label class="form-check-label m-2" for="from">Start time</label><br/>
                <input type="text" size="30" placeholder="2021-04-16 14:45" class="from  m-2" id="from"/>
            </div>
            <div class="col-sm-4 ml-5">
                <label class="form-check-label m-2" for="to">End time</label><br/>
                <input type="text" size="30" placeholder="2021-04-16 15:45" class="to  m-2" id="to"/>
            </div>

            <div class="col-sm-8">
                <div class="form-check form-check-inline">
                    <label class="form-check-label m-2">Type of interview:</label>
                    <input type="radio" class="form-check-input" id="online" name="typeInterview" value="true">
                    <label class="form-check-label" for="online">Online</label>
                </div>

                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="offline" name="typeInterview" value="false">
                    <label class="form-check-label" for="offline">Offline</label>
                </div>
            </div>
            <div class="col-sm-8">
                
                    <label class="form-check-label m-2" for="location">Location or url interview</label><br/>
                    <input type="text" placeholder="URL or location" class="m-2" id="location" size="75"/>
                
            </div>
            <input type="hidden" id="schedule-id"></input>
        </div>
        <div class="col-sm-7 mr-2"></div>
        <div  class="row col-sm-2 p-1 ml-3 mt-3">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="submitData();">Save</button>
        </div>
        <div  class="row col-sm-2 p-1 ml-5 mt-3">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="submitUpdateData();">Update</button>
        </div>
    </div> <!-- End of area create schedule -->
    <hr/>

    <h5 class="ml-2 mt-3">LIST INTERVIEW SCHEDULE</h5>
        <!--Table interview select data-->
        <table id="schedule-table" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>No</th>
                <th>Applicant</th>
                <th>Interviewer</th>
                <th>Start</th>
                <th>End</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="list-schedule">
                <tr>
                    <td>1</td>
                    <td>Tran Van Nam</td>
                    <td>Interviewer 1
                        <br/>
                        Interviewer 2
                    </td>
                    <td>2021-08-30 10:00</td>
                    <td>2021-08-30 11:00</td>
                    <td>Pegasus</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-info" onclick=editSchedule(1) href="javascript:void(0);">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Khuong Duy Do</td>
                    <td>Interviewer 1
                        <br/>
                        Interviewer 2
                    </td>
                    <td>2021-05-20 10:00</td>
                    <td>2021-05-20 11:00</td>
                    <td>Pegasus</td>
                    <td>
                        <a href=""  class="btn btn-sm btn-secondary">View detail</a>
                    </td>
                </tr>
            </tbody>
        </table>
</div>

</body>

<script>


    function setMenu() {
        var html = "<div class=\"col-sm-5 d-flex p-2\" id=\"startDate\">\n" +
            "            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>\n" +
            "        </div>\n" +
            "        <!-- Header menu -->\n" +
            "        <div class=\"bs-example\" th:fragment=\"header\">\n" +
            "            <nav class=\"navbar navbar-expand-md navbar-light bg-light\">\n" +
            "                <div class=\"collapse navbar-collapse\" id=\"navbarCollapse\">\n" +
            "                    <div class=\"navbar-nav\">\n" +
            "                        <a href=\"/hr/home-page\" class=\"nav-item nav-link\">Home</a>\n" +
            "                        <a href=\"/category\" class=\"nav-item nav-link\">Category</a>\n" +
            "                        <a href=\"/admin/member\" class=\"nav-item nav-link\">Member</a>\n" +
            "                        <a href=\"/hr/interview-create\" class=\"nav-item nav-link active\">Schedule</a>\n" +
            "                        <div class=\"navbar-nav ml-auto\">\n" +
            "                            <div class=\"nav-item nav-link header-name\"></div>\n" +
            "                            <a href=\"log-out\" class=\"nav-item nav-link\">Thoát</a>\n" +
            "                        </div>\n" +
            "                    </div>\n" +
            "                </div>   \n" +
            "            </nav>\n" +
            "        </div>";
        if(sessionStorage.getItem("menuType") != 1) {
            html = "<div class=\"col-sm-5 d-flex p-2\" id=\"startDate\">\n" +
                "            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>\n" +
                "        </div>\n" +
                "        <!-- Header menu -->\n" +
                "        <div class=\"bs-example\" th:fragment=\"header\">\n" +
                "            <nav class=\"navbar navbar-expand-md navbar-light bg-light\">\n" +
                "                <div class=\"collapse navbar-collapse\" id=\"navbarCollapse\">\n" +
                "                    <div class=\"navbar-nav\">\n" +
                "                        <a href=\"/hr/home-page\" class=\"nav-item nav-link\">Home</a>\n" +
                "                        <a href=\"/hr/interview-create\" class=\"nav-item nav-link active\">Schedule</a>\n" +
                "                        <div class=\"navbar-nav ml-auto\">\n" +
                "                            <div class=\"nav-item nav-link header-name\"></div>\n" +
                "                            <a href=\"/log-out\" class=\"nav-item nav-link\">Thoát</a>\n" +
                "                        </div>\n" +
                "                    </div>\n" +
                "                </div>   \n" +
                "            </nav>\n" +
                "        </div>";
        }
        $("#headnev").html(html);
    }

    var data = sessionStorage.getItem("arrData");
    var arrData = [];
    if (data != null) {
        arrData = JSON.parse(data);
    }
    $(document).ready(function () {
        loadApplicant();
        loadInterviewer();
        $(".from").datetimepicker();
        $(".to").datetimepicker();
        setMenu();
        loadScheduleList();

        
    });

    var homeUrl = "";

    function loadApplicant() {
        $.ajax({
            url: homeUrl + "/api/applicant/listApplicant",
            type: "GET",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            success: function (response) {
                var html = "<option value=\"0\">--</option>";
                $.each(response.data, function (index, value) {
                    html += "<option value=\"" + value.id + "\">" + value.fullName + "</option>";
                });
                $("#applicant").html(html);
            }
        });
    }

    function loadInterviewer() {
        $.ajax({
            url: homeUrl + "/api/user/interview/list-all",
            type: "GET",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            success: function (response) {
                var html = "";
                $.each(response.data, function (index, value) {
                    html += "<option value=\"" + value.id + "\">" + value.name + "</option>";
                });
                $("#interviewer").html(html);
            }
        });
    }

    function loadScheduleList(){
        $.ajax({
            url: homeUrl + "/api/interview-schedule/getlist",
            type: "GET",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            success: function (response) {
                var html = "";
                $.each(response.data, function (index, value) {
    				
                    html += "        <tr>\n" +
                        "            <td>" + (index + 1) + "</td>\n" +
                        "            <td>" + value.applicantName + "</td>\n" +
                        "            <td>" + value.interviewerNames + "</td>\n" +
                        "            <td>" + value.startAt + "</td>\n" +
                        "            <td>" + value.endAt + "</td>\n" +
                        "            <td>" + value.location + "</td>\n";
                    if (value.isEdit) {
                        html += "<td>\n" +
                            "<button type=\"button\" class=\"btn btn-sm btn-info\" onclick=\"editSchedule("+ value.id +")\" href=\"javascript:void(0);\"><b>Edit</b></button>\n" +
                            "</td>\n";
                    } else {
                        html += "<td>\n" +
                            "<a href=\"/hr/view-details?id=" + value.id + "\"  class=\"btn btn-sm btn-secondary\"><b>View detail</b></a>\n" +
                            "</td>\n";
                    }
                });
                $("#list-schedule").html(html);          


            }
        });
    }

    function editSchedule(id) {
        $.ajax({
            url: homeUrl + "/api/interview-schedule/get/"+id,
            type: "GET",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            success: function (response) {
                var data = response.data;
                $("#applicant").val(data.aptId);
                $("#overviewContent").val(data.overviewContent);
                $("#interviewer").val(data.interviewIds);
                $("#from").val(data.startAt);
                $("#to").val(data.endAt);
                $("#location").val(data.roomInfo);
                $("#schedule-id").val(id);
                if(data.isOnline) {
                    $("#online").attr('checked', 'checked');
                } else {
                    $("#offline").attr('checked', 'checked');
                }
                
            }
        });
    }

    function reloadTableAndResetForm() {
        // TODO Call ajax get list data and reset item in form to initial.
        loadScheduleList();
    }

    function submitData() {
        var aptId = $("#applicant").val();
        var overviewContent = $("#overviewContent").val();
        var interviewIds = $("#interviewer").val();
        var interviewIdArr = JSON.stringify(interviewIds);
        var startAt = $("#from").val();
        var endAt = $("#to").val();
        var online = $("input[name='typeInterview']:checked").val();
        var roomInfo = $("#location").val();

        var dataSubmit = '{"aptId" : ' + aptId + ', "overviewContent" : "' + overviewContent + '", "startAt" : "' + startAt + '", "endAt" : "' + endAt + '", "roomInfo" : "' + roomInfo +'", "online" : ' + online+', "interviewIds" : ' + interviewIdArr+ '}';
        console.log(dataSubmit);
        
        $.ajax({
            url: homeUrl + "/api/interview-schedule/add-new",
            type: "POST",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            data: dataSubmit ,
            success: function (response) {
                reloadTableAndResetForm();
                alert(response.msg);

                // window.location.href = "/interview/home-page";
            },
            error: function(jqXHR) {
                alert("Error: "+ jqXHR.responseJSON.msg);
            }
        });
    }

    function submitUpdateData() {
        var id = $("#schedule-id").val();
        var aptId = $("#applicant").val();
        var overviewContent = $("#overviewContent").val();
        var interviewIds = $("#interviewer").val();
        var interviewIdArr = JSON.stringify(interviewIds);
        var startAt = $("#from").val();
        var endAt = $("#to").val();
        var online = $("input[name='typeInterview']:checked").val();
        var roomInfo = $("#location").val();

        var dataSubmit = '{"aptId" : ' + aptId + ', "overviewContent" : "' + overviewContent + '", "startAt" : "' + startAt + '", "endAt" : "' + endAt + '", "roomInfo" : "' + roomInfo +'", "online" : ' + online+', "interviewIds" : ' + interviewIdArr+ '}';
        console.log(dataSubmit);
        
        $.ajax({
            url: homeUrl + "/api/interview-schedule/"+id,
            type: "PUT",
            dataType: 'json', headers: {
                'Authorization': sessionStorage.getItem("token"),
            },
            contentType: "application/json",
            data: dataSubmit ,
            success: function (response) {
                reloadTableAndResetForm();
                alert(response.msg);

            },
            error: function(jqXHR) {
                alert("Error: "+ jqXHR.responseJSON.msg);
            }
        });
    }

</script>
</html>