<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SIM | Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/css/style-login.css}" rel="stylesheet" />
    <script th:src="@{/js/ctxd.js}"></script>
</head>
</body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img th:src="@{/images/logo.png}" id="icon" alt="User Icon"/>
        </div>
        <h3>Login</h3>
        <hr />
        <div th:if="${errorMessage}" class="alert alert-warning" role="alert" th:text="${errorMessage}"></div>
        <!-- Login Form -->
        <form th:object="${authenticationRequestDto}">
            <input type="text" id="username" class="fadeIn first" name="username" th:field="*{username}" placeholder="INPUT USERNAME"/>
            <input type="password" id="password" class="fadeIn third" name="password" th:field="*{password}" placeholder="INPUT PASSWORD"/>
            <input type="button" id="login" class="fadeIn fourth" value="LOGIN"/>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" th:href="@{/forgot-password}">Forgot Password?</a></a>
        </div>

    </div>
</div>

</body>
</html>