<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SIM - Change Password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/css/style-login.css}" rel="stylesheet" />
    <script th:src="@{/js/ctxd.js}"></script>
</head>
</body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img th:src="@{/images/logo.png}" id="icon" alt="User Icon"/>
        </div>
        <h3>Reset Password</h3>
        <hr />
        <!-- Login Form -->
        <form>
            <input type="password" id="password" class="fadeIn third" name="password"
                   placeholder="INPUT NEW PASSWORD" required/>
            <input type="password" id="re-password" class="fadeIn third" name="re-password"
                   placeholder="RE INPUT NEW PASSWORD" required/>
            <input
                type="button" id="change-password" class="fadeIn fourth" value="Change Password">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" th:href="@{/login}">Login</a>
        </div>

    </div>
</div>
</body>
</html>