<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interview Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/ctxd.js}"></script>
</head>
<style>
    #headnev1 {
        background-color: rgb(11, 18, 63);
        color: white;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #headnev {
        background-color: rgb(144, 152, 189);
        color: white;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>
<body>
<!-- Top -->
<div class="container-fluid">
    <div id="headnev1" class="row navbar navbar-fixed-top">
        <div class="col-sm-5 d-flex p-2" id="startDate1">
            <h4> IMS - INTERVIEW MANAGEMENT SYSTEM</h4>
        </div>
        <!-- Header menu -->
        <div class="bs-example" th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a th:href="@{/interview/home-page}" class="nav-item nav-link active" >Home</a>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item nav-link header-name"></div>
                            <a th:href="@{/log-out}" class="nav-item nav-link">Thoát</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 d-flex p-4">
                <div>Appicant Name:</div>
                <div style="padding-left: 5px" th:text="*{interviewData.fullName}"></div>
            </div>
            <div class="col-sm-3 d-flex p-4">
                <div>Time Interview:</div>
                <div style="padding-left: 5px" th:text="*{interviewData.interviewTime}"></div>
            </div>
            <div class="col-sm-3 d-flex p-4">
                <div> Location:</div>
                <div style="padding-left: 5px" th:text="*{interviewData.location}"></div>
            </div>
            <div class="col-sm-3 d-flex p-4 justify-content-end">
                <a th:href="|/api/applicant/getpdf?apt-id=*{interviewData.aptId}|" target="_blank"> View CV</a>
            </div>
        </div>
        <hr/>
        <h3>Overview:</h3>
        <div class="row">

            <div class="col-sm-12">
                <textarea class="form-control" id="overview" rows="3" th:field="*{interviewData.overview}"></textarea>
            </div>
        </div>


        <h3>Question</h3>
        <!-- Table list account server -->
        <table id="list-1" class="table table-striped table-bordered"
               style="width: 100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Answer</th>
                <th>APT Answer</th>
                <th>Rate</th>
            </tr>
            </thead>
            <tbody id="list-question">
            </tbody>
            <tfoot>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Answer</th>
                <th>APT Answer</th>
                <th>Rate</th>
            </tr>
            </tfoot>
        </table>

        <h3>Other:</h3>

        <!--Other-->
        <div class="row">
            <div class="col-sm-12">
                <textarea class="form-control" id="other" rows="3" th:field="*{interviewData.other}"></textarea>
            </div>
        </div>
        <!--Pass fail-->
        <h3>Result:</h3>
        <!-- Material inline 1 -->
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="pass" name="passFail">
            <label class="form-check-label" for="pass">Pass</label>
        </div>

        <!-- Material inline 2 -->
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="fail" name="passFail">
            <label class="form-check-label" for="fail">Fail</label>
        </div>

    </div>
    <script>

        $(document).ready(function () {
            $('#list-1').DataTable();
            getData();
        });

        function getParameterByName(url = window.location.href) {
            var pieces = url.split(/[=]+/);
            return pieces[pieces.length - 1];
        }

        var paramId = getParameterByName();

        var homeUrl = "";
        var fileName = "";

        function getData() {
            var data = {intScheduleId: paramId};
            $.ajax({
                url: homeUrl + "/api/interview-question?id=" + paramId,
                type: "GET",
                dataType: 'json', headers: {
                    'Authorization': sessionStorage.getItem("token"),
                },
                contentType: "application/json",
                success: function (response) {
                    var html = "";
                    $.each(response.data.listQuestion, function (index, value) {
                        var status = value.Status ? "checked" : "";
                        var birthday = new Date(value.birthday);
                        html += "        <tr>\n" +
                            "            <td>" + (index + 1) + "</td>\n" +
                            "            <td>" + value.question + "</td>\n" +
                            "            <td>" + value.answer + "</td>\n" +
                            "            <td>" + value.aptAnswer + "</td>\n" +
                            "            <td>" + value.rate + "</td>\n" +
                            "        </tr>";
                    });
                    $("#list-question").html(html);

                    if (response.data.Result) {
                        $("#pass").attr('checked', 'checked');
                    } else {
                        $("#fail").attr('checked', 'checked');
                    }
                    $(':radio:not(:checked)').attr('disabled', true);
                }
            });
        }

    </script>
</body>
</html>