<body>
<h1>Hello, ${userName} </h1>

<p>I see request reset password</p>

<p>Please access: ${url} to change password</p>

<span>If not, please do not provide this url for another. This url expired before 1 hour still this email sent.</span>

<p>Thanks.</p>